@using asp_net_mvc_localization.Models
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@using asp_net_mvc_localization.Resources
@model List<User>
@{
    string jsonText = JsonConvert.SerializeObject(Model, Formatting.None, new IsoDateTimeConverter
    {
        DateTimeFormat = "d"
    });
    ViewBag.Title = "Table";
}

@Scripts.Render("~/bundles/datatables")

<script>    
    var dataSet = JSON.parse('@Html.Raw(jsonText)');
    $(document).ready(function () {
        $('.users-table').DataTable({
            data: dataSet,
            columns: [
                { data: "Username"},
                { data: "Email"},
                { data: "Password"},
                { data: "Age"},
                { data: "Birthday"},
                { data: "Rand"}
            ],
            oLanguage: {
                oPaginate: {
                    sNext: '@TableResources.sNext',
                    sPrevious: '@TableResources.sPrevious'
                },
                sSearch: '@TableResources.sSearch',
                sLengthMenu: '@TableResources.lengthMenu',
                sZeroRecords: '@TableResources.zeroRecords',
                sInfoEmpy: '@TableResources.infoEmpty',
                sInfo: '@TableResources.info',
                sInfoFiltered: '@TableResources.infoFiltered'
            }
        });
    });
</script>

<h2>@TableResources.Table</h2>
<table id="users" class="users-table">
    <thead>
        <tr>
            <th>@TableResources.UsernameTitle</th>
            <th>@TableResources.EmailTitle</th>
            <th>@TableResources.PasswordTitle</th>
            <th>@TableResources.AgeTitle</th>
            <th>@TableResources.BirthdayTitle</th>
            <th>@TableResources.RandTitle</th>
        </tr>
    </thead>
</table>